

@media (max-width:767px){
.navbar-collapse.collapse{
    justify-content: flex-start !important;
}
ul.navbar-nav{
    align-items: initial!important;
}
.navbar-collapse.show {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
}